<!--
  ~         Freenet.org - web application
  ~         Copyright (C) 2022  Freenet Project Inc
  ~
  ~         This program is free software: you can redistribute it and/or modify
  ~         it under the terms of the GNU Affero General Public License as
  ~         published by the Free Software Foundation, either version 3 of the
  ~         License, or (at your option) any later version.
  ~
  ~         This program is distributed in the hope that it will be useful,
  ~         but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~         MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~         GNU Affero General Public License for more details.
  ~
  ~         You should have received a copy of the GNU Affero General Public License
  ~         along with this program.  If not, see <https://www.gnu.org/licenses/>.
  ~
  -->

<configuration debug="true">
    <appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender">
        <!-- Optional : filter logs at or above a level -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <log>application.log</log> <!-- Optional : default java.log -->
        <resourceType>gae_app</resourceType> <!-- Optional : default: auto-detected, fallback: global -->
        <flushLevel>WARN</flushLevel> <!-- Optional : default ERROR -->
    </appender>

    <logger name="org.freenet" level="info">
        <appender-ref ref="CLOUD"/>
    </logger>

    <root level="error">
        <appender-ref ref="CLOUD" />
    </root>
</configuration>