<configuration debug="true">
    <appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender">
        <!-- Optional : filter logs at or above a level -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <log>application.log</log> <!-- Optional : default java.log -->
        <resourceType>gae_app</resourceType> <!-- Optional : default: auto-detected, fallback: global -->
        <flushLevel>WARN</flushLevel> <!-- Optional : default ERROR -->
    </appender>

    <logger name="org.freenet" level="info">
        <appender-ref ref="CLOUD"/>
    </logger>

    <root level="error">
        <appender-ref ref="CLOUD" />
    </root>
</configuration>