body{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size:1em;
    line-height:1.5;
    color:#6d6d6d;
    text-shadow:0 1px 0 rgba(255,255,255,0.8);
    background: rgb(221,217,217);
    background: radial-gradient(circle, rgba(221,217,217,1) 0%, rgba(255,255,255,1) 35%, rgba(225,230,231,1) 100%);
}

.headerText {
    text-indent: 5%;
    font-size: large;
}

#menuBar {
    background-color: #3e5909;
}

#reserveButton {
    background-color: #658832;
}

#payment-form {
    margin-top: 3%;
    margin-bottom: 3%;
}

.rMStart {
    display: none;
}

.donationButton {
    background-color: #0000ff;
}

body {
    background: linear-gradient(90deg, rgba(227,227,227,1) 0%, rgba(255,255,255,1) 34%, rgba(237,237,237,1) 70%);
    background-repeat: repeat-y;
    background-position: center;
}

h1 {
    font-size: 100px;
}

.subtitle {
    margin-top: 0px;
}