/*body {
    background-color: #f2f2f2;
}*/

.headerText {
    text-indent: 5%;
    font-size: large;
    font-family: "Times New Roman", Times, serif;
}

#menuBar {
    background-color: #3e5909;
}

#reserveButton {
    background-color: #658832;
}

.donationButton {

}

.rMStart {
    display: none;
}